<!doctype html>
<head>
  <title>LIFEGAME</title>
</head>
<body>
  <table>
  <% for (var i = 0; i < b.length; i++) { %>
    <% var cs = b[i]; %>
    <tr>
    <% for (var j = 0; j < cs.length; j++) { %>
      <% var c = cs[j]; %>
      <td>
        <%= c %>
      </td>
    <% } %>
    </tr>
  <% } %>
  </table>
  <a href="/lifegame?prev=<%= encodeURIComponent(s) %>">NEXT GENERATION</a>
  <br/>
  <%= tstp %>
</body>
